.instructionsSvg {
  padding-bottom: 2rem;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .stepNumber {
    color: #4eb3e3;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 1.28px;
  }
  .stepHeaderText {
    color: #1f343e;
    font-size: 32px;
    line-height: 40px;
    font-family: "Caveat Brush", cursive;
  }
  .stepDescription {
    color: #1f343e;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1200px) {
  .individualStepContainer {
    display: flex;
    gap: 3rem;
    .stepContainer {
      max-width: 16rem;
      .stepNumber {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 1.6px;
      }
      .stepHeaderText {
        font-size: 32px;
        line-height: 48px;
      }
      .stepDescription {
        font-size: 20px;
        line-height: 32px;
      }
    }
  }
  .individualStepContainer:nth-child(2) {
    > img {
      order: 1;
    }
  }
}
