@import "../../index.scss";

.container {
  background-color: #45565e;
  text-align: center;
  padding: 2rem;
  .storeComponentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
  }
  .reviewsContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    .starsContainer {
      display: flex;
      gap: 0.25rem;
    }
    .reviewsText {
      font-size: 16px;
      line-height: 24px;
      font-family: "Noto Sans", sans-serif;
      color: #ffffff;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    display: flex;
    padding: 2rem $desktop-margin-x;
    gap: 2rem;
    .storeComponentContainer {
      flex-direction: row;
      padding-bottom: 0rem;
    }
    .reviewsContainer {
      align-items: center;
      .starsContainer {
        flex-direction: row;
      }
      .reviewsText {
        font-size: 20px;
      }
    }
  }
}
