@import "../../index.scss";

.container {
  background-color: #f8cc5d;
  border: $default-border;
  padding: 2rem $mobile-margin-x;
  display: flex;
  flex-direction: column;
  .referralContainer {
    background-color: #f8f4f9;
    border: $default-border;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    .referralTextContainer {
      padding-bottom: 1.5rem;
      .referralTextHeader {
        color: #1f343e;
        font-size: 32px;
        line-height: 48px;
        font-family: "Caveat Brush", cursive;
        padding-bottom: 1.5rem;
      }
      .referralTextBody {
        color: #1f343e;
        font-size: 16px;
        line-height: 24px;
        font-family: "Noto Sans", sans-serif;
      }
    }
    .emailEntryContainer {
      height: 130px;
      padding-bottom: 4.375rem;
    }
    .referralNote {
      color: #6d7a80;
      font-size: 16px;
      line-height: 24px;
      font-family: "Noto Sans", sans-serif;
    }
  }
  .instructionsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0rem;
    gap: 3rem;

    .instructionsSvg {
      padding-bottom: 2rem;
    }

    .stepContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .stepNumber {
        color: #4eb3e3;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        letter-spacing: 1.28px;
        font-family: "Noto Sans", sans-serif;
      }
      .stepHeaderText {
        color: #1f343e;
        font-size: 32px;
        line-height: 40px;
        font-family: "Caveat Brush", cursive;
      }
      .stepDescription {
        color: #1f343e;
        font-size: 16px;
        line-height: 24px;
        font-family: "Noto Sans", sans-serif;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding: 4rem 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 4rem $desktop-margin-x;
    flex-direction: row;
    .referralContainer {
      width: 26rem;
      padding: 4rem;
      .referralTextContainer {
        padding-bottom: 2.5rem;
        .referralTextHeader {
          padding-bottom: 2rem;
          font-size: 48px;
          line-height: 72px;
        }
        .referralTextBody {
          font-size: 20px;
          line-height: 32px;
        }
      }
      .emailEntryContainer {
        height: 140px;
        padding-bottom: 9.5rem;
      }
      .referralNote {
        font-size: 16px;
        line-height: 32px;
      }
    }
    .instructionsContainer {
      gap: 4rem;
      padding-left: 8rem;
      text-align: left;
      .individualStepContainer {
        display: flex;
        gap: 3rem;
        .instructionsSvg {
        }

        .stepContainer {
          max-width: 16rem;
          .stepNumber {
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 1.6px;
          }
          .stepHeaderText {
            font-size: 32px;
            line-height: 48px;
          }
          .stepDescription {
            font-size: 20px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
