@import "../../index.scss";

.container {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem $mobile-margin-x;
  .firstNavItem {
    color: #4eb3e3;
  }
  .openedNavMenu {
    position: absolute;
    top: 0;
    left: 0;
    height: 31vh;
    width: 100vw;
    background-color: #ffffff;
    border-bottom: $default-border;
    .buttonRow {
      display: flex;
      justify-content: space-between;
      padding: 0.75rem 1rem 2rem 1rem;
    }
    .navigationItemContainer {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      line-height: 40px;
      padding-left: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding: 1.5rem 2.5rem;
    .navContainer {
      display: flex;
      gap: 3.25rem;
      color: #434a54;
      font-size: 20px;
      font-family: "Noto Sans", sans-serif;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 1.5rem $desktop-margin-x;
    .navContainer {
      display: flex;
      gap: 3.25rem;
      color: #434a54;
      font-size: 20px;
      font-family: "Noto Sans", sans-serif;
    }
  }
}
