.container {
  display: flex;
  justify-content: space-between;
  margin: 0 400px;
  border-bottom: 1px solid #1F343E;
  }

.navContainer {
  display: flex;
  gap: 52px;
  color: #434A54;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  
  
  .navItem {
    
  }

}  


  