.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #1F343E;
  padding: 1.5rem 0rem;
  }

.imgContainer {
  margin-left: 20rem;
}

.navContainer {
  display: flex;
  gap: 52px;
  color: #434A54;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  margin-right: 20rem;
}  


  