@import "../../index.scss";

.container {
  background-color: #f8f4f9;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  .ratepunkDescription {
    padding-top: 2rem;
    font-size: 16px;
    line-height: 24px;
    color: #1f343e;
  }
  .quickLinksContainer {
    padding-top: 3rem;
    padding-bottom: 2rem;

    .quickLinksAnchorContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .quickLinksItem {
        font-size: 16px;
        line-height: 24px;
        color: #1f343e;
      }
      .quickLinksItem:first-child {
        color: #4eb3e3;
      }
    }
  }
  .emailContainer {
    padding-bottom: 2rem;
    .email {
      padding-left: 1rem;
      font-size: 16px;
      line-height: 24px;

      color: #1f343e;
    }
  }
  .socialIconsContainer {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 3rem;
    .socialIconContainer {
      height: 2rem;
      width: 2rem;
      background-color: #4eb3e3;
      border: $default-border;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .headerStyling {
    padding-bottom: 1.5rem;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.28px;
    color: #1f343e;
    font-weight: bold;
  }
  .watermark {
    font-size: 16px;
    line-height: 24px;
    color: #6d7a80;
  }
}

@media (min-width: 1200px) {
  .container {
    flex-direction: row;
    gap: 7rem;
    padding: 4rem $desktop-margin-x 0 $desktop-margin-x;
    .descriptionContainer {
      max-width: 34rem;
      .desktopWatermark {
        padding-top: 2.9rem;
        font-size: 16px;
        line-height: 24px;
        color: #6d7a80;
      }
    }
    .quickLinksContainer {
      min-width: 9.5rem;
      padding: 0;
    }
    .headerStyling {
      font-size: 20px;
    }
    .socialContainer {
      padding-top: 3rem;
    }
  }
}
