@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

a {
  text-decoration: none;
  color: inherit;
}

$mobile-margin-x: 1rem;
$tablet-margin-x: 2.5rem;
$desktop-margin-x: 25rem;
$default-border: 1px solid #1f343e;
